body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242628;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





/* The top progress area */
.progressArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

/* The play again button */
#playAgainButton {
    height: 35px;
    background-color: #3B4C61;
    color: white;
    border: none;
    border-radius: 5px;
}

#playAgainButton:hover {
    background-color: #354457;
    cursor: pointer;
}





/* The entire quiz playing area */
.quizArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 55, 68);
    width: 500px;
    border-radius: 20px;
    padding: 10px;
}

/* The area where the equation is */
.equationArea {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 76, 97);
    height: 100px;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
}

/* The actual equation */
#equationShow {
    font-size: 40px;
}



/* The area where the answers are */
.answerArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Makes the 2 buttons on the top and the 2 on the bottom */
.answersRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    /* background-color: black; */
}



/* The individual buttons */
.answerButton {
    flex: 1;
    min-width: 0;
    border: none;
    width: 50%;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    background-color: #3B4C61;
    color: white;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.answerButton:hover {
    cursor: pointer;
    background-color: #354457;
}

/* Gets rid of the margins on the sides */
#button2, #button4 {
    margin-right: 0px;
}
#button1, #button3 {
    margin-left: 0px;
}






/* The correct/incorrect screen */
.resultsArea {
    background-color: #2C3744;
    border-radius: 20px;
    width: 500px;
    height: 582px;
    padding: 10px;
}


/* The correct screen */
.correctArea {
    display: flex;
    flex-direction: column;
    background-color: green;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 472px;
}


/* The incorrect screen */
.incorrectArea {
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 27, 27);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 472px;
}



/* The check and X for the correct and incorrect screens */
.resultsImage {
    width: 100px;
}

/* The text for the correct and incorrect screens */
.resultsText {
    color: black;
}





/* The start page */
.startArea {
    display: flex;
    flex-direction: column;
    background-color: #2C3744;
    padding: 10px;
    border-radius: 20px;
    height: 582px;
    width: 500px;
}

/* The top area of the start page */
.startAreaTop {
    display: flex;
    flex-direction: column;
    height: 472px;
    background-color: #3B4C61;
    border-radius: 10px;
    padding: 10px;
}

/* The selectors to customize the quiz */
.startPageSelectors {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* The start page header text */
#startPageHeader {
    width: 100%;
    text-align: center;
}

/* The slider */
#numQuestionsSlider {
    margin-top: 10px;
}

/* The dropdown */
#problemTypeDropdown {
    margin-top: 10px;
    border: none;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    background-color: #2f3235;
    color: white;
}





/* The final grade screen */
.finalGradeArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C3744;
    padding: 10px;
    border-radius: 20px;
    height: 582px;
    width: 500px;
}

.finalGradeAreaTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 472px;
    width: 480px;
    background-color: #3B4C61;
    border-radius: 10px;
    padding: 10px;
}






/* Universal classes */

.hidden {
    display: none;
}

.textNormal {
    font-size: 20px;
}

.textHeader {
    font-size: 50px;
}

/* Bottom buttons */
.bottomButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 100px;
    background-color: #3B4C61;
    font-size: 30px;
    margin-top: 10px;
    color: white;
}
.bottomButton:hover {
    cursor: pointer;
    background-color: #354457;
}




